<h4 ng-show="detailsThumbnail.qualityParameters" class="text-uppercase bold">
    {{'qualityParameters.qualityParameters' | i18next}}
    (<span ng-class="{'provisional-quality-parameters': detailsThumbnail.qualificationMode}">{{'qualityParameters.' + (detailsThumbnail.qualificationMode ? 'provisional' : 'validated') | i18next}}</span>)
</h4>

<div ng-show="detailsThumbnail.qualityParameters" class="quality-parameters">
    <div class="row separator">
        <div class="text-right bold no-padding" ng-class="showPrealarmQualityParams ? 'col-xs-3 col-sm-3 col-md-3 col-xs-offset-5 col-sm-offset-5 col-md-offset-5' : 'col-xs-5 col-sm-5 col-md-5 col-xs-offset-6 col-sm-offset-6 col-md-offset-6'">
            {{'alarm' | i18next | uppercase}}
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 text-right bold" ng-if="showPrealarmQualityParams">
            {{'prealarm' | i18next | uppercase}}
        </div>
    </div>

    <div class="row" ng-class="{'separator': $index === 2 || $index >= 5}" ng-repeat="parameter in detailsThumbnail.qualityParameters track by $index">
        <div class="col-xs-5 col-sm-5 col-md-5 parameter-label">
            <p>{{'qualityParameters.' + parameter.key | i18next}}</p>
        </div>
        <div class="text-right no-padding" ng-class="showPrealarmQualityParams ? 'col-xs-3 col-sm-3 col-md-3' : 'col-xs-5 col-sm-5 col-md-6'">
            <p class="parameter-value" ng-class="{'provisional-parameter': parameter.tooltip }" tooltip-placement="left" tooltip-enable="parameter.tooltip" uib-tooltip="{{'validatedValue' | i18next}} {{parameter.tooltip}} {{parameter.unit}}">
                {{parameter.alarm | i18next}} <span ng-if="parameter.alarm">{{parameter.unit}}</span>
            </p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 text-right" ng-if="showPrealarmQualityParams">
            <p class="parameter-value">{{parameter.prealarm | i18next}} <span ng-if="parameter.prealarm">{{parameter.unit}}</span></p>
        </div>
    </div>
</div>
