<div class="table-alarms">
    <h4 class="text-uppercase bold">
        <span ng-i18next="[i18next]({ count: nbAlarmsDuringLast24Hours})alarmDuringTheLast24Hours"></span>
        <span ng-if="nbAlarmsToBeAck > 0"> - </span>
        <span ng-if="nbAlarmsToBeAck > 0" ng-i18next="[i18next]({ count: nbAlarmsToBeAck})alarmToBeAck"></span>
    </h4>
    <table ng-show="detailsThumbnail.alarms.length > 0" class="table table-responsive table-fixed">
        <thead>
            <th>{{'tableHeader.begin' | i18next}}</th>
            <th>{{'tableHeader.ack' | i18next}}</th>
            <th>{{'tableHeader.end' | i18next}}</th>
            <th class="text-center">{{'tableHeader.duration' | i18next}}</th>
            <th>{{'tableHeader.text' | i18next}}</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="alarm in detailsThumbnail.alarms track by $index">
                <td class="{{!alarm.end ? alarm.preAlarm ? 'prealarm' : 'alarm' : ''}}" ng-class="{'notack': !alarm.ack && alarm.end, 'bold': !alarm.end}">
                    {{alarm.begin | makeDatetime}}
                </td>
                <td class="{{!alarm.end ? alarm.preAlarm ? 'prealarm' : 'alarm' : ''}}" ng-class="{'notack': !alarm.ack && alarm.end, 'bold': !alarm.end}">
                    {{alarm.ack | makeDatetime}}
                </td>
                <td class="{{!alarm.end ? alarm.preAlarm ? 'prealarm' : 'alarm' : ''}}" ng-class="{'notack': !alarm.ack && alarm.end, 'bold': !alarm.end}">
                    {{alarm.end | makeDatetime}}
                </td>
                <td class="alarm-duration text-right {{!alarm.end ? alarm.preAlarm ? 'prealarm' : 'alarm' : ''}}" ng-class="{'notack': !alarm.ack && alarm.end, 'bold': !alarm.end}">
                    {{alarm | makeDuration | makeFormattedDuration}}
                </td>
                <td class="{{!alarm.end ? alarm.preAlarm ? 'prealarm' : 'alarm' : ''}}" ng-class="{'notack': !alarm.ack && alarm.end, 'bold': !alarm.end}">
                    {{alarm.text}}
                </td>
                <td class="{{!alarm.end ? alarm.preAlarm ? 'prealarm' : 'alarm' : ''}}" ng-class="{'notack': !alarm.ack && alarm.end, 'bold': !alarm.end}">
                    <state-icon class="state-icon-element {{alarm.preAlarm ? 'prealarm' : 'alarm'}}" ng-class="{'blink': !alarm.ack, 'high': alarm.type.indexOf('HIGH') > -1, 'low': alarm.type.indexOf('LOW') > -1}"></state-icon>
                </td>
            </tr>
            <tr ng-if="detailsThumbnail.alarms.length === 0">
                <td colspan="3" class="text-center full-row">{{'noAlarmToDisplay' | i18next}}</td>
            </tr>
        </tbody>
    </table>
</div>
