<div class="state-icon">
    <div class="high">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="30px" height="30px" viewBox="0 0 30 30" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="-alarmes---QAA---QAI" transform="translate(-284.000000, -798.000000)" fill-rule="nonzero" fill="#FFFFFF" ng-style="{'fill': $ctrl.color}">
                    <g id="arrow-up-thick" transform="translate(284.000000, 798.000000)">
                        <polygon id="alarme-haute-thick" points="18.75 30 11.25 30 11.25 13.125 4.6875 19.6875 0.15 15.15 15 0.3 29.85 15.15 25.3125 19.6875 18.75 13.125"></polygon>
                    </g>
                </g>
            </g>
        </svg>
    </div>

    <div class="low">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="30px" height="30px" viewBox="0 0 30 30" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="-alarmes---QAA---QAI" transform="translate(-612.000000, -580.000000)" fill-rule="nonzero" fill="#ffffff" ng-style="{'fill': $ctrl.color}">
              <g id="arrow-down-thick" transform="translate(612.000000, 580.000000)">
                <polygon id="bas" points="11.25 0 18.75 0 18.75 16.875 25.3125 10.3125 29.85 14.85 15 29.7 0.15 14.85 4.6875 10.3125 11.25 16.875"></polygon>
              </g>
            </g>
          </g>
        </svg>
    </div>

    <div class="offline">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="29px" height="29px" viewBox="0 0 29 29" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Etats" transform="translate(-944.000000, -800.000000)" fill="#FD2318" ng-style="{'fill': $ctrl.color}">
                    <polygon id="Shape-Copy-5" points="967.3945 800 958.2 809.1945 949.0055 800 944 805.0055 953.1945 814.2 944 823.3945 949.0055 828.4 958.2 819.2055 967.3945 828.4 972.4 823.3945 963.2055 814.2 972.4 805.0055"></polygon>
                </g>
            </g>
        </svg>
    </div>

    <div class="calc">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="32" height="32" viewBox="0 0 38 38" preserveAspectRatio="xMinYMin meet" stroke="#279FDD" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="g8" transform="matrix(0.85663302,0,0,0.88346918,2.8685701,2.2456078)" style="fill:none;fill-rule:evenodd">
            <g transform="translate(1,1)" id="g6" style="stroke-width:6">
              <circle cx="18" cy="18" r="18" id="circle2" style="stroke-opacity:0.5" />
              <path d="M 36,18 C 36,8.06 27.94,0 18,0" id="path4" inkscape:connector-curvature="0">
                <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="2s" repeatCount="indefinite" />
              </path>
            </g>
          </g>
        </svg>
    </div>

    <div class="room-out-of-prod"></div>
</div>
